@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-green-footer: hsl(168, 34%, 41%);
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --barlow-ff:"Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
body .hero-section {
  width: 100vw;
  overflow-x: hidden;
}
body .hero-section .hero-container {
  background: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
body .hero-section .hero-container .nav-bar {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .hero-section .hero-container .nav-bar .navigate {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 5rem;
  width: 70%;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: var(--white);
  transition: 0.3s;
  transform: translateX(130%);
  display: flex;
  flex-direction: column;
}
body .hero-section .hero-container .nav-bar .navigate::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  right: 0;
  width: 0;
  border-top: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid white;
  border-right: 1rem solid var(--white);
}
body .hero-section .hero-container .nav-bar .navigate .nav-item {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  color: var(--dark-blue);
  padding: 0.7rem;
  margin: 0.7rem;
}
body .hero-section .hero-container .nav-bar .navigate .contact {
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  background-color: var(--yellow);
  width: 5rem;
  margin: 0.7rem auto;
  padding: 0.7rem;
  border-radius: 3rem;
}
body .hero-section .hero-container .nav-bar .active {
  transform: translateX(0);
}
body .hero-section .hero-container .nav-bar .menu-icon {
  height: 1rem;
}
body .hero-section .hero-container .hero-content {
  margin: 5rem auto 0 auto;
  text-align: center;
}
body .hero-section .hero-container .hero-content .header-title {
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--white);
}
body .hero-section .hero-container .hero-content .arr-down {
  transform: translateY(5rem);
}
body .service-section {
  width: 100vw;
  overflow-x: hidden;
}
body .service-section .promo {
  display: flex;
  flex-direction: column-reverse;
}
body .service-section .promo .content-container {
  text-align: center;
  padding: 3rem 1.5rem;
}
body .service-section .promo .content-container .content .title {
  color: var(--very-dark-blue);
  font-weight: 900;
  margin-bottom: 1.5rem;
}
body .service-section .promo .content-container .content .artical {
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
body .service-section .promo .content-container .content .learn-more {
  position: relative;
  font-weight: 900;
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
}
body .service-section .promo .content-container .content .learn-more::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: rgba(250, 212, 0, 0.404);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s;
}
body .service-section .promo .img-container {
  height: 100%;
  width: 100%;
}
body .service-section .promo .img-container .img {
  width: 100%;
  height: 100%;
}
body .service-section .design-photography-container .card {
  height: 35rem;
  display: flex;
  align-items: end;
}
body .service-section .design-photography-container .card .content {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}
body .service-section .design-photography-container .card .content .title {
  font-weight: 900;
  margin: 1.5rem 0;
  font-size: 2rem;
}
body .service-section .design-photography-container .card .content .text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
body .service-section .design-photography-container .design {
  background: url("../images/mobile/image-graphic-design.jpg") no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}
body .service-section .design-photography-container .design .title {
  color: var(--dark-cyan);
}
body .service-section .design-photography-container .design .text {
  color: var(--dark-cyan);
}
body .service-section .design-photography-container .photography {
  background: url("../images/mobile/image-photography.jpg") no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}
body .service-section .design-photography-container .photography .title {
  color: var(--dark-blue);
}
body .service-section .design-photography-container .photography .text {
  color: var(--dark-blue);
}
body .client-testimonial-section {
  width: 100vw;
  overflow-x: hidden;
}
body .client-testimonial-section .title {
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 3rem auto;
}
body .client-testimonial-section .reviews-container .review {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem auto;
}
body .client-testimonial-section .reviews-container .review .pf-pp {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
body .client-testimonial-section .reviews-container .review .text {
  max-width: 375px;
  font-size: 1.2rem;
  font-family: var(--barlow-ff);
  margin-bottom: 1.5rem;
  line-height: 2rem;
  color: var(--very-dark-grayish-blue);
}
body .client-testimonial-section .reviews-container .review .pp-info .name {
  color: var(--very-dark-blue);
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
body .client-testimonial-section .reviews-container .review .pp-info .position {
  font-family: var(--barlow-ff);
  color: var(--dark-grayish-blue);
}
body .project-section {
  width: 100vw;
  overflow-x: hidden;
}
body .project-section .gallery-container {
  display: flex;
  flex-wrap: wrap;
}
body .project-section .gallery-container .pict {
  margin-top: -5px;
  width: 50%;
}
body .project-section .gallery-container .pict .img {
  width: 100%;
  height: 100%;
}
body .footer-section {
  width: 100vw;
  overflow-x: hidden;
  height: 50vh;
  background-color: var(--dark-green-footer);
  text-align: center;
}
body .footer-section .footer {
  height: 80%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .footer-section .footer .logo #svg * {
  width: 100%;
  height: 100%;
  fill: var(--dark-cyan);
}
body .footer-section .footer .nav .nav-item {
  font-size: 1.1rem;
  margin: 1rem;
  text-decoration: none;
  color: var(--dark-cyan);
  font-family: var(--barlow-ff);
  transition: 0.3s all;
}
body .footer-section .footer .nav .nav-item:hover {
  color: var(--white);
}
body .footer-section .footer .social-media .icon {
  width: 1.5rem;
  cursor: pointer;
  margin: 1rem;
}
body .footer-section .footer .social-media .icon:hover {
  color: var(--white);
}
body .attribution {
  background-color: var(--dark-cyan);
  padding: 1rem;
  margin: auto;
  text-align: center;
  color: var(--very-dark-blue);
}
body .attribution a {
  color: var(--dark-green-footer);
}
body .attribution .me {
  color: var(--grayish-blue);
}

@media screen and (min-width: 710px) {
  body .hero-section .hero-container {
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  body .hero-section .hero-container .nav-bar {
    padding: 1.5rem 2rem;
  }
  body .hero-section .hero-container .nav-bar .navigate {
    position: static;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    transform: none;
    background: none;
    flex-direction: row;
  }
  body .hero-section .hero-container .nav-bar .navigate::before {
    display: none;
  }
  body .hero-section .hero-container .nav-bar .navigate .nav-item {
    font-size: 1.1rem;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    color: var(--white);
  }
  body .hero-section .hero-container .nav-bar .navigate .nav-item:hover {
    opacity: 0.7;
  }
  body .hero-section .hero-container .nav-bar .navigate .contact {
    padding: 0.7rem;
    background-color: var(--white);
    color: var(--very-dark-blue);
  }
  body .hero-section .hero-container .nav-bar .navigate .contact:hover {
    color: var(--white);
    background-color: #54ebff;
  }
  body .hero-section .hero-container .nav-bar .menu-icon {
    display: none;
  }
  body .hero-section .hero-container .hero-content .header-title {
    font-size: 4vw;
  }
  body .service-section {
    flex-direction: row;
  }
  body .service-section .promo {
    flex-direction: row;
  }
  body .service-section .promo .content-container {
    padding: 0rem;
    max-width: 50%;
    display: grid;
    place-items: center;
    text-align: start;
    margin: auto;
  }
  body .service-section .promo .content-container .content {
    text-align: start;
    width: 80%;
  }
  body .service-section .promo .content-container .content .title {
    font-size: 4vw;
  }
  body .service-section .promo .content-container .content .artical {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-bottom: 3rem;
  }
  body .service-section .promo .content-container .content .learn-more {
    font-size: 1.5vw;
  }
  body .service-section .promo .img-container {
    height: 100%;
    width: 50%;
  }
  body .service-section .transform-container {
    flex-direction: row-reverse;
  }
  body .service-section .design-photography-container {
    margin-top: -5px;
    display: flex;
  }
  body .service-section .design-photography-container .card {
    height: 70vh;
  }
  body .service-section .design-photography-container .card .content {
    width: 60%;
  }
  body .service-section .design-photography-container .card .content .title {
    font-size: 2.5vw;
  }
  body .service-section .design-photography-container .card .content .text {
    font-size: 1.5vw;
  }
  body .service-section .design-photography-container .design {
    background: url("../images/desktop/image-graphic-design.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  body .service-section .design-photography-container .photography {
    background: url("../images/desktop/image-photography.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  body .client-testimonial-section {
    font-size: 1.5rem;
    height: 90vh;
  }
  body .client-testimonial-section .title {
    margin: 0;
    padding: 5vw 0;
    font-size: 2vw;
  }
  body .client-testimonial-section .reviews-container {
    display: flex;
    height: 70%;
    align-items: flex-start;
  }
  body .client-testimonial-section .reviews-container .review {
    height: 70%;
    display: flex;
    justify-content: space-between;
  }
  body .client-testimonial-section .reviews-container .review .text {
    max-width: none;
    font-size: 2vw;
    line-height: 2vw;
  }
  body .client-testimonial-section .reviews-container .review .pp-info .name {
    font-size: 1.5vw;
  }
  body .client-testimonial-section .reviews-container .review .pp-info .position {
    font-size: 1vw;
  }
  body .project-section .gallery-container .pict {
    width: 25%;
    height: auto;
  }
  body .project-section .gallery-container .pict .img {
    width: 100%;
    height: auto;
  }
  body .footer-section {
    margin-top: -1.5rem;
  }
  body .footer-section .footer {
    height: 95%;
    margin: 1rem 2rem;
  }
  body .footer-section .footer .nav .nav-item {
    font-size: 1.5vw;
  }
  body .footer-section .footer .social-media .icon {
    width: 2vw;
  }
}/*# sourceMappingURL=main.css.map */